<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='email.png')}}">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='app.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>CONSULTAR CORREO ELECTRÓNICO</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div class="container">
        <h1 id="titulo">CONSULTA DE CORREO ELECTRÓNICO</h1>
        <h3> Introduce el nombre para conocer el correo electrónico</h3>
        <form action="{{url_for('getmail')}}" method="post">
            <div class="mb-3 mt-3">
                <label for="nom" class="form-label required">Nombre:</label>
                <input type="text" name="nom" id="nom" class="form-control" required/>
            </div>
            <div class="mb-3">
                <input type="submit" value="CONSULTAR" class="btn btn-primary"/>
            </div>
        </form>
        {% if correu == "NOTROBAT" %}
            <h2>No se encontró ningún correo asociado al usuario <b>{{ nom }}</b>.</h2>
        {% elif correu %}
            <h2>El correo electrónico asociado al usuario <b>{{ nom }}</b> es <b>{{ correu }}</b>.</h2>
        {% endif %}
        <h4 class="text-enlace">
            Puedes agregar nuevos correos en el enlace <a href="{{url_for('addmail')}}" target="_blank">ADDMAIL</a>
        </h4>
        <nav>
    <a href="{{ url_for('about') }}">Volver</a>
    </nav>
    </div>
</body>
</html>



