<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='email.png')}}">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='app.css')}}">
</head>
<body>
    <h1>Formulario de Registro</h1>
    <form method="POST" action="/registro">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit">Registrar</button>
    </form>
    <p><a href="{{ url_for('login') }}">¿Ya tienes cuenta? Iniciar sesión</a></p>
</body>
</html>

